<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者介面</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="wrapManager">
        <div class="background-video-inquire">
            <video autoplay muted loop playsinline>
                <source src="https://i.imgur.com/7CAzgsS.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="background-layer"></div>
        <%- include("../components/header.ejs") %>



            <table class="manager-table">
                <tr>
                    <td class="table-data">姓名</td>
                    <td class="table-data">電話</td>
                    <td class="table-data">地址</td>
                    <td class="table-data">內容</td>
                    <td class="table-data">維修進度</td>
                    <td class="table-data"></td>
                    <td class="table-data"></td>
                </tr>

                <% data.forEach( (item,index)=>{ %>
                    <tr class="content-data">
                        <td style="display: none;"><input type="radio" name="radio-check" id="<%= item.id %>"></td>
                        <td class="data-name">
                            <%= item.name %>
                        </td>
                        <td class="data-phone">
                            <%= item.phone %>
                        </td>
                        <td class="data-unit">
                            <%= item.unit %>
                        </td>

                        <td class="data-content">
                            <%= item.content %>
                        </td>

                        <td class="data-state">
                            <select name="state" onchange="updataState(this.value,'<%= item._id %>')">
                                <% item.stateArray.forEach ((item1,index)=>{ %>
                                    <option value="<%= index %>" <% if(item.state==index) { %> selected <% } %>><%=
                                                item1 %>
                                    </option>
                                    <% }) %>
                            </select>
                        </td>
                        <td><button onclick="del('<%= item.id %>')">刪除資料</button></td>

                        <td>
                            <label for="<%= item.id %>" onclick="printshow('<%= item.id %>')">列印</label>
                        </td>
                    </tr>
                    <% }) %>
            </table>

            <div class="newprint">
                <div class="print-title">
                    <h1>維修證明書</h1>
                    <p>
                        <img src="https://i.imgur.com/zYHDUPx.png" width="32px" height="32px" />
                        維修System
                    </p>
                </div>
                <div class="print-body">
                    <div class="print-main">
                        <div class="print-table01">
                            <div class="userprofile">
                                <div>客戶資料</div>
                            </div>

                            <div class="print-data">
                                <div class="data-section01">
                                    <label for="data01">申請人</label>
                                    <div id="data01"></div>
                                    <label for="data02">連絡電話</label>
                                    <div id="data01"></div>
                                    <label for="data03">日期</label>
                                    <div id="data03"></div>
                                </div>
                                <div class="data-section02">
                                    <label for="data04">地點</label>
                                    <div id="data04"></div>
                                </div>
                                <div class="data-section03">
                                    <label for="data05">故障內容</label>
                                    <div id="data05"></div>
                                </div>
                            </div>

                        </div>

                        <div class="print-table02">
                            <div class="userprofile">
                                <div>其他</div>
                            </div>
                            <div class="print-other">
                                <div class="other">
                                    <label>備註</label>
                                    <div></div>
                                    <label>客戶意見</label>
                                    <div></div>
                                </div>
                                <div class="signature">
                                    <label>維修人員</label>
                                    <div></div>
                                    <label>客戶簽名</label>
                                    <div></div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>


            </div>
    </div>

    </div>

    <script>
        //刪除資料
        function del(id) {
            fetch("/repair", { method: "delete", body: { id } })
                .then(response => response.json())
                .then(data => {
                    // 處理回傳的資料
                    location.reload();
                    alert(JSON.stringify(data) + "已刪除");
                })
                .catch(error => {
                    // 處理錯誤
                    console.error('發生錯誤:', error);
                });
        }

        //更新資料
        function updataState(selectState, id) {
            fetch("/manager/updataState", {
                method: "post",
                body: JSON.stringify({ selectState, id }),
                headers: { "Content-Type": "application/json" },
            }).then(response => response.json()).then(data => {
                // 在這裡處理服務器返回的數據

            }).catch(e => {
                console.log(e);
            });
        }
        //列印
        function printshow(id) {
            let content = document.querySelectorAll('.content-data');
            for (let i = 0; i < content.length; i++) {
                content[i].classList.remove('show');
                console.log(content[i]);
            }



            let elemets = document.getElementById(id);

            elemets.parentNode.parentNode.classList.add("show");

            window.print();


            //user登出
            function logout() {


                useravatar.addEventListener()

            }
        }

    </script>
</body>

</html>